.ask {
    position: relative;
    background-color: rgba(5, 248, 147, 0.802);
    border: none;
    font-size: 25px;
    color: #5555;
    padding: 11px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .ask:after {
    content: "";
    background: greenyellow;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .ask:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }